* {
    margin: 0;
    padding: 0;
}

#start {
    height: 100vh;
    width: 100vw;
    background-image: url("./img/start_bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}